@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url("./greeting.css");
@import url("./background.css");
@import url("./weather.css");
@import url("./kakaoMap.css");
@import url("./ToDoList.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display:flex;
    justify-content: space-between;
    font-family: 'Nanum Pen Script', cursive;
    color:white;
    overflow: hidden;
}

/* HTML 구조를 좌 (인사, 시간) , 중간 (이름입력) 우(할일목록) 으로 나눔 */

aside,
.middle {
    width: 30%;
    height: 100%;
    margin-top: 20px;
    position: relative;
}

/* 좌우 UI */

.leftSection,
.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    position: relative;
    transition: all 1.2s ease-in-out;
}
.leftSection{
    left: -100%;
}
.rightSection{
    right: -100%;
}

/* 좌우 UI 안 li, span */

.leftContent,
.rightContent {
    background-color: rgba(7, 8, 9, 0.9);
    width: 80%;
    box-shadow: rgba(204, 220, 227, 0.12) 0px 2px 4px 0px, rgba(204, 220, 227, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}

.leftContent {
    height: 25%;
}

.rightContent {
    height: 35%;
}

.rightContent:first-child {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 8%;
}


/* 시계 부분 */

.jsClock > h2{
    text-align: center;
    font-size: 40px;
    margin: 15px auto;
    letter-spacing: 3px;
}

/* 명언 */
.famousWrite {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 26px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(204, 220, 227, 0.12) 0px 2px 4px 0px, rgba(204, 220, 227, 0.32) 0px 2px 16px 0px;
    transition: bottom 2s ease-out;
    text-shadow: 0 6px 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 5px 10px rgba(0,0,0,.25), 2px 2px 2px rgba(206,89,55,0);
}