/* 날씨 */
.jsWeather {
    display:flex;
    align-items: center;
    position: absolute;
    right:-102%;
    top:1%;
    font-size: 18px;
    transition: all 1.2s ease-out;
    text-shadow: 0 6px 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 5px 10px rgba(0,0,0,.25), 2px 2px 2px rgba(206,89,55,0);
}